@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fjalla+One&display=swap');

.brand_name {
  font-family: 'Alfa Slab One', serif;
  font-weight: 400;
  font-style: normal;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* .range-thumb {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  appearance: none;
  background: none;
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: #2563eb;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: #2563eb;
  cursor: pointer;
} */

.range-thumb {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  background: none;
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: #2563eb;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: #2563eb;
  cursor: pointer;
}
